Repository awslabs/amazon-kinesis-video-streams-producer-sdk-java, pull requests merged in 2025-06, with the labels that each got.

#218 Fix ImageFrameSource Shutdown Sequence
  src/main/java/com/amazonaws/kinesisvideo/java/mediasource/file/ImageFrameSource.java
Labels: bug, v1.12.3

#219 Add script for media validation and debugging utilities
  .github/workflows/ci.yml
  scripts/python/benchmarking/capture_rss_and_cpu.py
  scripts/python/benchmarking/plot_rss_and_cpu.py
  scripts/python/benchmarking/requirements.txt
  scripts/python/getmediavalidation/README.md
  scripts/python/getmediavalidation/bin/download_fragment.py
  scripts/python/getmediavalidation/bin/fetch_fragment_info.py
  scripts/python/getmediavalidation/bin/validate_media.py
  scripts/python/getmediavalidation/requirements.txt
  scripts/python/getmediavalidation/setup.py
  scripts/python/getmediavalidation/src/__init__.py
  scripts/python/getmediavalidation/src/api/__init__.py
  scripts/python/getmediavalidation/src/api/api_calls.py
  scripts/python/getmediavalidation/src/api/retry_util.py
  scripts/python/getmediavalidation/src/mkv/__init__.py
  scripts/python/getmediavalidation/src/mkv/fragment_util.py
  scripts/python/getmediavalidation/src/mkv/frame_reader.py
  scripts/python/getmediavalidation/src/mkv/mkv_validator.py
  scripts/python/getmediavalidation/src/utils/__init__.py
  scripts/python/getmediavalidation/src/utils/string_utils.py
Labels: CI, v1.12.3, scripts

#220 Scripts: Normalize CPU and axis controls for rss and cpu
  .gitignore
  scripts/python/benchmarking/capture_rss_and_cpu.py
  scripts/python/benchmarking/plot_rss_and_cpu.py
Labels: v1.12.3, scripts
